body{
            background-color: #DEF3FF;
        }
        .text{
            font-family: "Outfit", sans-serif!important;
        }
        .container{
            align-items: center!important;
            justify-content: center!important;
            display: flex!important;
            margin-top: 30px;
            height:100vh!important;
            flex-direction: column!important;
            gap: 80px
        }

         @media(min-width: 450px){
        .box{
            background-color:#FFFFFF;
            width: 450px;
            height: 250px;
            border-radius: 15px;
            box-shadow: 5px 5px 0px grey;

        }
        .text-box{
            padding:15px;
            text-align:center;
            flex-direction: column!important;
            display: flex!important;
            gap: 10px;
            align-items: center!important;
        }
        .text-box h5 {
            font-size: 1.8rem;
        }
        .username-input{
            border-radius: 10px;
            padding-left: 8px;
            height: 40px;
            width: 300px;
            font-size: 1.5rem;
        }
        .username-enter{
            width: 50%;
            height: 40px!important;
            font-size: 1.5rem;
            padding: 3px;
            background-color: #D3C1E6;
            border-color: #D3C1E6;
        }
        .username-enter:hover{
            background-color: #C4ABDE;
            border-color: #C4ABDE;
        }
        .shimmeringText{
        font-size: 2.8rem;
        }

        .q-container{
            align-items: center!important;
            justify-content: center!important;
            display: flex!important;
            margin-top: 30px;
            height:100vh!important;
            flex-direction: column!important;
            gap: 80px;
        }
        .q-box{
            background-color:#FFFFFF;
            width: 450px;
            height: 250px;
            border-radius: 15px;
            box-shadow: 5px 5px 0px grey;
            padding:20px;
            text-align:center;
            flex-direction: column!important;
            display: flex!important;
            gap: 5px;
            align-items: center!important;
            justify-content: center!important;

        }
        .btn-option-yes{
            background-color: #CAFFBD!important;
            /*padding: 5px 15px;*/
            /*border-radius: 25px;*/
            border: none!important;
            color: black!important;
            border-radius: 20px!important;
        }
        .btn-option-yes:hover{
            animation: shakeY;
            animation-duration: 2s;
        }
        .btn-option-no{
            background-color: #FFCCBD!important;
            border: none!important;
            color: black!important;
            border-radius: 20px!important;
        }
        .btn-option-no:hover{
            animation: shakeX;
            animation-duration: 2s;
        }

        .q-box .fa-solid{
            font-size: 55px;
        }
        .fa-circle-check {
           color: #9DE897!important;
        }
        .fa-circle-xmark {
            color: #E37474!important;
        }
        .fa-circle-check:hover{
            animation: shakeY;
            animation-duration: 2s;
        }
        .fa-circle-xmark:hover{
            animation: shakeX;
            animation-duration: 2s;
        }
        .separator1 {
           animation: rubberBand;
            animation-duration: 2s;
            background: -webkit-linear-gradient(#FFEE99, #95D8FC);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .fa-solid.fa-paper-plane{
            font-size: 22px;
        }
        .separator2{
            background: -webkit-linear-gradient(#3a4ed5, #3acfd5);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .q2-selectbox{
            border-radius: 25px;
            padding: 10px 30px;
            background: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(to right, #7BAEED, #FAEE84) border-box;
          border: 3px solid transparent;
          display: inline-block;
          font-size: 20px;
        }
        .q2-end {
            display: flex;
            gap: 4px
        }
        .btn-pp{
          background: linear-gradient(to right, #7BAEED, #3a4ed5) border-box;
          border: 0px solid transparent!important;
          border-radius: 50px!important;
          width: 50px;
          height: 50px;
          display: flex!important;
          align-items: center;
          justify-content: center;
        }
        .q2 {
            display: none!important
        }
        .btn-bye-confirmed{
            background-color:#A6A3E6;
            border-color:#A6A3E6
        }

        .top-border{
            background:
        -webkit-linear-gradient(#FFADD9, #95D8FC);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 800;
          margin-bottom: 0;
          font-size: 30px;
        }

        }
        @media(max-width: 450px){
        .box{
            background-color:#FFFFFF;
            width: 300px;
            height: 180px;
            border-radius: 15px;
            box-shadow: 5px 5px 0px grey;

        }
        .text-box{
            padding:20px;
            padding-top:10px;
            text-align:center;
            flex-direction: column!important;
            display: flex!important;
            gap: 5px;
            align-items: center!important;
        }
        .username-input{
            border-radius: 10px;
            padding-left: 8px;
        }
        .username-enter{
            width: 30%;
            padding: 3px;
            background-color: #D3C1E6;
            border-color: #D3C1E6;

        }
        .shimmeringText{
            font-size: 30px;
            }

        .q-container{
            align-items: center!important;
            justify-content: center!important;
            display: flex!important;
            margin-top: 30px;
            height:100vh!important;
            flex-direction: column!important;
            gap: 80px;
        }
        .q-box{
            background-color:#FFFFFF;
            width: 300px;
            height: 180px;
            border-radius: 15px;
            box-shadow: 5px 5px 0px grey;
            padding:20px;
            text-align:center;
            flex-direction: column!important;
            display: flex!important;
            gap: 5px;
            align-items: center!important;
            justify-content: center!important;

        }

        .btn-option-yes{
            background-color: #CAFFBD!important;
            /*padding: 5px 15px;*/
            /*border-radius: 25px;*/
            border: none!important;
            color: black!important;
            border-radius: 20px!important;
        }
        .btn-option-yes:hover{
            animation: shakeY;
            animation-duration: 2s;
        }
        .btn-option-no{
            background-color: #FFCCBD!important;
            border: none!important;
            color: black!important;
            border-radius: 20px!important;
        }
        .btn-option-no:hover{
            animation: shakeX;
            animation-duration: 2s;
        }

        .q-box .fa-solid{
            font-size: 35px;
        }
        .fa-circle-check {
           color: #9DE897!important;
        }
        .fa-circle-xmark {
            color: #E37474!important;
        }
        .fa-circle-check:hover{
            animation: shakeY;
            animation-duration: 2s;
        }
        .fa-circle-xmark:hover{
            animation: shakeX;
            animation-duration: 2s;
        }
        .separator1 {
           animation: rubberBand;
            animation-duration: 2s;
            background: -webkit-linear-gradient(#FFEE99, #95D8FC);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .fa-solid.fa-paper-plane{
            font-size: 18px;
        }
        .separator2{
            background: -webkit-linear-gradient(#3a4ed5, #3acfd5);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .q2-selectbox{
            border-radius: 25px;
            padding: 8px 15px;
            background: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(to right, #7BAEED, #FAEE84) border-box;
          border: 3px solid transparent;
          border-radius: 25px;
          display: inline-block;
        }
        .q2-end {
            display: flex;
            gap: 4px
        }
        .btn-pp{
          background: linear-gradient(to right, #7BAEED, #3a4ed5) border-box;
          border: 0px solid transparent!important;
          border-radius: 50px!important;
          width: 40px;
          height: 40px;
          display: flex!important;
          align-items: center;
          justify-content: center;
        }
        .q2 {
            display: none!important
        }
        .btn-bye-confirmed{
            background-color:#A6A3E6;
            border-color:#A6A3E6
        }

        .top-border{
            background:
        -webkit-linear-gradient(#FFADD9, #95D8FC);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 800;
          margin-bottom: 0;
          font-size: 30px;
        }
        }

        .counter-box{
            background-color:#5AAAC7;
            width: 300px;
            height: 60px;
            border-radius: 10px;
            padding:20px;
            display: flex;
            position: relative;
            overflow: hidden;
            z-index: 1;
        }

        .counter{
           display: flex;
            position: absolute;
            top: 0;
            left: 0;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            white-space: nowrap;
            transition: all 1s ease;
        }

        .counter div {
            display: flex;
            animation: scrollText 10s infinite linear; /*infinite harusnya*/
        }

        .counter div h5 {
            transition: all 2s ease;
        }

        .counter .text {
        color: #ffffff;
        font-weight: 400;
            text-shadow: 2px 2px rgb(31, 41, 59, 0.7);
        }

        #flower1{
            margin-left:265px;
            filter: drop-shadow(2px 2px rgba(0,0,0,0.4));
            transform: translateY(-15px);
            width: 50px!important;
        }
        #flower2{
            margin-left:-5px;
            filter: drop-shadow(-2px 2px rgba(0,0,0,0.4));
            transform: translateY(-15px);
            width: 50px;

        }
        .st0{fill:#ceadff!important;}
        #shooting-star{
            margin-left:-10px;
            filter: drop-shadow(2px 2px rgba(0,0,0,0.4));


        }
        .container2{
            align-items: center!important;
            justify-content: center!important;
            display: flex!important;
            margin-top: 30px;
            height:100vh!important;
            flex-direction: column!important;
            gap: 0px;
            position: relative;
        }
        .letter-box{
            background-color:#FFFFFF;
            width: 300px;
            height: 180px;
            border-radius: 15px;
            box-shadow: 5px 5px 0px grey;
            z-index: -2;
            display: flex;
            position: absolute;


        }
        .top-env {
        	width: 0;
        	height: 0;
        	border-left: 148px solid #ECDEFA;
        	border-right: 153px solid #ECDEFA;
        	border-bottom: 130px solid #F1E5FF;
        	border-top: 50px solid #ECDEFA;
        	border-bottom-left-radius: 15px;
        	border-bottom-right-radius: 15px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        	position: absolute;
        	z-index: 3;
        }
        .flap{
            width: 0;
        	height: 0;
        	top: 160px;
        	border-left: 148px solid transparent;
        	border-right: 153px solid transparent;
        	border-bottom: 120px solid #F1E5FF;
        	position: absolute;
        	z-index:-2;

        }

        .invitation{
            top:210px;
            width: 270px;
            height: 100px;
            z-index: 2;
            overflow: hidden;
            position: absolute;
            object-fit: cover;
            background-color: white;
            border-radius: 10px;
            border: 0px solid white!important;
            /*nanti diganti image*/
        }

        .invitationPage {
            width: 100%;
            height: 100%;
        }

        .rsvp-btn{
            position: absolute;
            top: 500px;
            z-index: 5;
            background-color: #7AD2FF;
            border-color: #7AD2FF;
        }
        .rsvp-btn:hover{
            background-color: #BDC8F2;
            border-color: #BDC8F2 ;
        }
        .invitation-h3{
            z-index:5;
            position: absolute;
            top: 100px;
        }
        /*#popupImage{
            display: flex;
            position: fixed;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background: rgba(0,0,0,0.5);
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }*/
        #popupImage{
          position: fixed;
          inset: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(0,0,0,0.5);
          z-index: 9999;
        }

        .flipbook-container {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .closeBtn{
            cursor: pointer;
            width: 25px;
            top: -12px;
            right: -60px;
            position: absolute;
            z-index: 10;
        }
        .imageDiv{
            background: none;
            padding: 20px;
            border-radius: 10px;
            max-width: 400px;
        }
        .invitation-image{
            width:120%;
            height: 120%;
        }



         @keyframes scrollText {
  from   { transform: translateX(-100%); }
  to { transform: translateX(100%); }
}

